---
Language: Cpp
BasedOnStyle: Mozilla
# AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
ColumnLimit: 140
PackConstructorInitializers: Never
PointerAlignment: Right
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
...

