CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakePresets.json

appanvil_test*.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
*.deb

.cache/
.vscode/
build/

*.glade~
\#*#
src/resource.autogen.c
resources/generated

dist/
lib/
report/

*.debhelper.log
obj-*-gnu
debian/appanvil
debian/appanvil.substvars
debian/debhelper-build-stamp
debian/files
debian/.debhelper

