CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.cache/
.vscode/
build/

resources/*.glade~
resources/#*#
src/resource.autogen.c
resources/resource.autogen.c

dist/
lib/
