<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <action id="com.github.jack-ullery.AppAnvil.pkexec.aa-status">
    <message>Authentication is needed to run 'aa-status' as the super user.</message>
    <icon_name>aa-status</icon_name>
    <defaults>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/aa-status</annotate>
  </action>

  <action id="com.github.jack-ullery.AppAnvil.pkexec.aa-unconfined">
    <message>Authentication is needed to run 'aa-unconfined' as the super user.</message>
    <icon_name>aa-unconfined</icon_name>
    <defaults>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/aa-unconfined</annotate>
  </action>

</policyconfig>