<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <action id="com.github.jack-ullery.AppAnvil.pkexec.aa-status">
    <message>Authentication is needed to run 'aa-caller' as the super user.</message>
    <icon_name>aa-caller</icon_name>
    <defaults>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/aa-caller</annotate>
    <annotate key="org.freedesktop.policykit.exec.path">/bin/aa-caller</annotate>
  </action>

</policyconfig>
