Source: appanvil
Section: utils
Priority: optional
Maintainer: Jack Ullery <jackullery@proton.me>
Standards-Version: 4.5.1
Homepage: https://github.com/jack-ullery/AppAnvil
Vcs-Git: https://github.com/jack-ullery/AppAnvil.git -b main
Vcs-Browser: https://github.com/jack-ullery/AppAnvil
Build-Depends: debhelper (>= 10), 
	           cmake,
	           make,
	           g++,
	           libgtkmm-3.0-dev,
	           libjsoncpp-dev,
	           libapparmor-dev

Package: appanvil
Section: utils
Priority: optional
Architecture: any
Description: Graphical user interface for AppArmor.
 AppAnvil provides an intuitive graphical interface for monitoring, editing,
 deploying, and configuring AppArmor profiles.
Depends: ${shlibs:Depends}, 
	     ${misc:Depends},
	     apparmor-utils
