#!/usr/bin/make -f
%:
	dh $@ 

#override_dh_auto_make:
#	cmake --build .

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)"
		-DCMAKE_INSTALL_PREFIX=/usr