name: Build, Format, & Release

on: push

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt upgrade
        sudo apt-get install libgtkmm-3.0-dev libjsoncpp-dev libgtest-dev libgmock-dev clang-tidy cppcheck xvfb clang-format-12
    
    - name: Configure CMake
      run: cmake .

    - name: Format Code
      # Formats code using clang-format-12
      run: make FORMAT

    - name: Build
      # Builds the binary any unit tests into the ./dist folder
      run: make

    - name: Test
      # Run the unit tests
      run: xvfb-run --auto-servernum ./dist/appanvil_test

    - name: setup git config
      run: |
        # setup the username and email for the bot. Using 'GitHub Actions Bot' with no email by default
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
        
    - name: commit
      run: |
        # Stage the file, commit and push
        git add ./src/*
        git commit -m "Format code"
        git push
